<%= render "layouts/default_show", title: 'Kenaikan Pangkat' ,object: @object %>
<!-- <div class="row">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header">
          <h3 class="box-title">Detail Kenaikan Pangkat</h3>
      </div>

      <div class="margin">
        <%#= link_to "Buat Baru", new_preferment_path, class: "btn btn-primary btn-sm"%>
        <%#= link_to "Perbaharui", edit_preferment_path(@object), class: "btn btn-warning btn-sm" %>
        <%#= link_to 'Hapus',  @object,  method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
      </div>

      <div class="box-body">
        <div class="form-group">
          <label>DP3</label>
          <p class="help-block"><%#= @object.list_of_ratings_execution_of_work_id %></p>
        </div>
        <div class="form-group">
          <label>Pangkat Baru</label>
          <p class="help-block"><%#= @object.rank_of_lecturer_id %></p>
        </div>
        <div class="form-group">
          <label>Masa Kerja</label>
          <p class="help-block"><%#= "#{@object.year_work_period} Tahun, #{@object.month_work_period} Bulan, #{@object.day_work_period} Hari" %></p>
        </div>
        <div class="form-group">
          <label>No SK Kenaikan Pangkat</label>
          <p class="help-block"><%#= @object.decision_letter_number %></p>
        </div>
        <div class="form-group">
          <label>Tanggal Pengajuan Kenaikan Pangkat</label>
          <p class="help-block"><%#= @object.submissions_preferment_date %></p>
        </div>
        <div class="form-group">
          <label>Tanggal Kenaikan Pangkat</label>
          <p class="help-block"><%#= @object.preferment_date %></p>
        </div>
        <div class="form-group">
          <label>Tanggal Dibuat</label>
          <p class="help-block"><%#= @object.created_at.to_formatted_s(:long) %></p>
        </div>
        <div class="form-group">
          <label>Tanggal Diperbaharui</label>
          <p class="help-block"><%#= @object.updated_at.to_formatted_s(:long) %></p>
        </div>
      </div>

    </div>
  </div>
</div>
 -->