<%= render "layouts/default_show", title: 'Penilai' ,object: @object %>

<!-- <div class="row">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header">
          <h3 class="box-title">Detail Penilai</h3>
      </div>

      <div class="margin">
        <%#= link_to "Buat Baru", new_assessor_path, class: "btn btn-primary btn-sm"%>
        <%#= link_to "Perbaharui", edit_assessor_path(@object), class: "btn btn-warning btn-sm" %>
        <%#= link_to 'Hapus',  @object,  method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
      </div>

      <div class="box-body">
        <div class="form-group">
          <label>NIK</label>
          <p class="help-block"><%#= @object.registration_number_of_employees %></p>
        </div>
        <div class="form-group">
          <label>Nama</label>
          <p class="help-block"><%#= @object.name %></p>
        </div>
        <div class="form-group">
          <label>Tempat Lahir</label>
          <p class="help-block"><%#= @object.place_of_birth %></p>
        </div>
        <div class="form-group">
          <label>Tanggal Lahir</label>
          <p class="help-block"><%#= @object.date_of_birth.to_formatted_s(:long) %></p>
        </div>
        <div class="form-group">
          <label>Jenis Kelamin</label>
          <p class="help-block"><%#= @object.gender %></p>
        </div>
        <div class="form-group">
          <label>Status</label>
          <p class="help-block"><%#= @object.marital_status %></p>
        </div>
        <div class="form-group">
          <label>Nomor Kontak</label>
          <p class="help-block"><%#= @object.contact_number %></p>
        </div>
        <div class="form-group">
          <label>Pendidikan</label>
          <p class="help-block"><%#= @object.education %></p>
        </div>
        <div class="form-group">
          <label>Alamat</label>
          <p class="help-block">
            <%#= @object.address_line_1 %> <br>
            <%#= @object.address_line_2 %> <br>
            <%#= @object.address_line_3 %> <br>
            <%#= @object.address_line_4 %> <br>
          </p>
        </div>
        <div class="form-group">
          <label>Posisi</label>
          <p class="help-block"><%#= @object.position %></p>
        </div>
        <div class="form-group">
          <label>Program Studi</label>
          <p class="help-block"><%#= link_to StudyProgram.find(@object.study_program_id).name, @object.study_program %></p>
        </div>
        <div class="form-group">
          <label>Jabatan</label>
          <p class="help-block"><%#= link_to RankOfLecturer.find(@object.rank_of_lecturer_id).name, @object.rank_of_lecturer %></p>
        </div>
        <div class="form-group">
          <label>Tanggal Masuk</label>
          <p class="help-block"><%#= @object.date_of_addmission.to_formatted_s(:long) %></p>
        </div>

        <div class="form-group">
          <label>Tanggal Dibuat</label>
          <p class="help-block"><%#= @object.created_at.to_formatted_s(:long) %></p>
        </div>
        <div class="form-group">
          <label>Tanggal Diperbaharui</label>
          <p class="help-block"><%#= @object.updated_at.to_formatted_s(:long) %></p>
        </div>
      </div>

    </div>
  </div>
</div>
 -->