<% @results.each do |result| %>
  <div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"><%= "#{result[:start_date].to_formatted_s(:long)} - #{result[:end_date].to_formatted_s(:long)}" %></h3>
                <div class="box-tools">
                    <div class="input-group">
                        <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                      <th>Dosen</th>
                      <th>Nilai</th>
                      <th>Penilai</th>
                    </tr>
                    <% result[:assessment_results].each do |assessment_result| %>
                      <tr>
                        <td><%= assessment_result.lecturer.name %></td>
                        <td><%= assessment_result.value %></td>
                        <td><%= assessment_result.assessor.name %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
  </div>
<% end %>