<div class="nested-fields">
  <%= f.hidden_field :percentage_assessment_id, value: f.object.percentage_assessment_id %>
  <tr class="pointer">
    <td>
      <%= PercentageAssessment.find(f.object.percentage_assessment_id).try(:name) %>
    </td>
    <td>
      <%= f.number_field :value,
                       step: 'any',
                       class: "form-control" %>
    </td>
  </tr>
</div>